id: clock-agent
description: |
  This is a sample agent that will be used to test the clock service.
cycle: 5 # s
report-cycle: 5 # s
algorithm: "-" # support -(no compress),gzip,lz4,zstd
file-name: "api_doc.json"
